<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Field Guide</title>
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
     window.CLOUDINARY_OPTIONS = {
       cloud_name: "<%=ENV['CLOUD_NAME']%>",
       upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
     };
    </script>
  </head>
  <body>
    <div id="root"></div>

    <script src="https://widget.cloudinary.com/global/all.js"/>

  </body>
</html>
